/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* os elementos nunca vão ultrapassar a borda da caixa */
}

/* declarar variáveis */
:root {
  --vermelho: #e50914;
  --preto: #141414;
}

body {
  background: var(--preto);
  font-family: "Arial", Times, serif;
  color: white;
}

header .container {
  display: flex;
  flex-direction: row; /* padrão do display flex */
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--vermelho);
  font-family: "Arial Black", Times;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #efff;
}

/* main movie */

.main-movie {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/public/images/capa.jpg");

  height: 450px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie .synopsis {
  margin-top: 10px;
  margin-bottom: 40px;
}

.movie-title {
  margin-top: 10%;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, Helvetica,
    sans-serif;
}

.main-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: 0.3s ease all;
}

.main-button:hover {
  background-color: white;
  color: black;
}

.buttons i {
  margin-right: 8px;
}

.container {
  margin-left: 40px;
}

.main-movie .container {
  width: 40%;
}

.movie-box {
  height: 100%;
  width: 100%;
  display: block;
}

.movies-carousel {
  margin-top: 5px;
}
