@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .main-button {
    margin-top: 5px;
    width: 300px;
  }

  .container nav {
    padding-bottom: 5px;
  }
}
